<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="objectscript-math-regression.ZPM">
    <Module>
      <Name>objectscript-math-regression</Name>
      <Version>0.0.1</Version>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.math.PKG"/>
      <UnitTest Name="/tests" Package="UnitTest.dc.math" Phase="test"/>
    </Module>
  </Document>
</Export>